<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
					       http://www.springframework.org/schema/beans/spring-beans.xsd
					       http://www.springframework.org/schema/context
					       http://www.springframework.org/schema/context/spring-context.xsd
					       http://www.springframework.org/schema/mvc
					       http://www.springframework.org/schema/mvc/spring-mvc.xsd
					       http://www.springframework.org/schema/tx
					       http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--扫描controller -->
	<context:component-scan
		base-package="com.news.newsapp" use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.RestController" />
	</context:component-scan>

	<!--配置视图解析器 -->
	 <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".html" />
	</bean> 

	<!--静态资源交给default-servlet处理 -->
	<mvc:default-servlet-handler />

	 <mvc:annotation-driven>
	 	<!--设置响应json数据 -->
		<mvc:message-converters	register-defaults="true">
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes"
					value="application/json" />
				<property name="features">
					<array>
						<value>WriteMapNullValue</value>
						<value>WriteDateUseDateFormat</value>
					</array>
				</property>
			</bean>			  
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	
  
	
	<!-- 开启注解驱动，支持springmvc一些更高级的功能，如映射动态请求，jsr303校验，快捷的ajax等 -->
	<mvc:annotation-driven>
		<!-- 设置直接响应纯文本时的编码格式 -->
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg index="0" value="utf-8"></constructor-arg>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

</beans>
