<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.newsapp.dao.BottomNavMapper" >
	<resultMap id="BaseResultMap" type="com.news.newsapp.entity.BottomNav" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="status" property="status" jdbcType="INTEGER" />
  	</resultMap>

    <select id="findAll"  resultMap="BaseResultMap" >
	    SELECT * FROM bottom_nav WHERE STATUS=1
  	</select>
</mapper>