<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.newsapp.dao.HeadlineMapper">
	<resultMap id="BaseResultMap"
		type="com.news.newsapp.entity.Headline">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="comment_count" property="commentCount"
			jdbcType="INTEGER" />
		<result column="update_time" property="updateTime"
			jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="top_nav_id" property="topNavId"
			jdbcType="INTEGER" />
		<result column="images" property="images" jdbcType="VARCHAR" />
		<result column="content_url" property="contentUrl" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findAll"  resultMap="BaseResultMap">
		SELECT * FROM headline WHERE STATUS = 1
	</select>
	
	<select id="searchByTitle" parameterType="string" resultMap="BaseResultMap">
		SELECT * FROM news WHERE title LIKE concat(concat("%",#{?}),"%")
	</select>
	
	<insert id="insert" parameterType="headline">
		INSERT INTO headline (title,author,comment_count,images,content_url,top_nav_id)
  		VALUES (#{title},#{author},#{commentCount},#{images},#{contentUrl},2);
	</insert>
	
	<delete id="clearTable">
		TRUNCATE TABLE headline
	</delete>
	
	<select id="selectById" parameterType="string" resultMap="BaseResultMap">
		SELECT * FROM headline WHERE id = #{?}
	</select>
	
	<select id="insertContent" parameterType="string" >
		INSERT INTO content SET content = #{?}
	</select>
	
	<select id="selectContent"  resultType="string">
		SELECT content FROM content WHERE id = 1
	</select>
	
	<delete id="clearContent">
		TRUNCATE TABLE content
	</delete>
</mapper>