<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.newsapp.dao.PastimeMapper">
	<resultMap id="BaseResultMap"
		type="com.news.newsapp.entity.Pastime">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="comment_count" property="commentCount"
			jdbcType="INTEGER" />
		<result column="update_time" property="updateTime"
			jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="top_nav_id" property="topNavId"
			jdbcType="INTEGER" />
		<result column="images" property="images" jdbcType="VARCHAR" />
		<result column="content_url" property="contentUrl" jdbcType="VARCHAR" />
	</resultMap>
	<select id="list"  resultMap="BaseResultMap">
		SELECT * FROM pastime WHERE STATUS = 1
	</select>
	
	<insert id="insert" parameterType="pastime">
		INSERT INTO pastime (title,author,comment_count,images,content_url,top_nav_id)
  		VALUES (#{title},#{author},#{commentCount},#{images},#{contentUrl},4);
	</insert>
	
	<delete id="clearTable">
		TRUNCATE TABLE pastime
	</delete>
	
	<!-- 段子 -->
	<insert id="insertJoke" parameterType="joke">
		INSERT INTO joke 
		(title,author,content,laugh,enjoy,bored)
		VALUES (#{title},#{author},#{content},#{laugh},#{enjoy},#{bored})
	</insert>
	
	<delete id="clearJkoe">
		TRUNCATE TABLE joke
	</delete>
	
	<select id="jokeList" resultType="joke">
		SELECT * FROM joke
	</select>
</mapper>